body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #f1c94f;
}

.question-wrapper {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
}

#questionPart{
    width: 750px;
    height: 600px;
    background-color : white;
    display : flex;
    flex-direction : column;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
}

.question {
    font-size: 250%;
}

.answer {
    font-size: 175%;
}

input[type=radio] {
    margin-bottom: 9%;
}

button {
    cursor: pointer;
    width:250px;
	height:30px;
	background:#f0c33d;
	border-radius:15px;
	border:none;
    color:white;
}

button:hover {
    background: white;
    border: 2px solid #f0c33d;
    color: #f0c33d;
    transition-duration: 0s;

}

.end {
    display: none;
}

.set2 {
    display: none;
}

.set3 {
    display: none;
}

@media (max-width: 768px) {

    body {
        font-size: 50%;
    }

    #background {
        flex-direction: column-reverse;
        margin: auto;
        margin-top: 15px;
    }

    #questionPart {
        width: 450px;
        height: 350px;
        margin-top: 15px;
    }

    #cookingPasta {
        max-width: 30%;
        text-align: center;
        margin-top: 10px;
    }

    .question {
        margin-top: 20px;
    }

    .answer {
        margin-top: 25px;
    }

    #submit-wrapper {
        margin-top: 10%;
    }
}