body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

#pastaBackground {
    position: fixed;
    min-width: 100%;
    min-height: 100%
}

#screen {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 900px;
    height: 300px;
    background-color: white;
}

h2 {
    font-size: 50px;
    text-align: center;
}

h3 {
    font-size: 20px;
    text-align: center;
}

#linkTest {
    position:relative;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #e4a637;
    margin-bottom: 60px;
    margin-left: 180px;

    text-align: center;
    text-decoration: none; 
    color: white;
}

#linkWeather {
    position:relative;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #e4a637;
    margin-bottom: 60px;
    margin-left: 20px;
    margin-right: 20px;

    text-align: center;
    text-decoration: none; 
    color: white;
}
#linklocation {
    position:relative;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #e4a637;
    margin-bottom: 60px;
    margin-right: 180px;

    text-align: center;
    text-decoration: none; 
    color: white;
}
@media (max-width: 768px) {

    #screen {
        width: 600px;
        height: 300px;
        background-color: white; 
    }

    #linkTest {
        margin: auto;
        margin-bottom: 75px;
    }
    
    #linkWeather {
        margin: auto;
        margin-bottom: 35px;
    }

}