body {
    background-color: #f8c85b;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    color: white;
}

#informations {
    display: flex;
}

img {
    background-color: white;
}

#description {
    background-color: white;
    width: 500px;
    height: 500px;
}

.shy {
    display: inline;
}

.chic {
    display: none;
}