body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #f1c94f;
}

/* We separarate in two blocs , the "question part" et the "image part" */
.question-wrapper {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
}

/* Bloc "question + answer + button" */
#questionPart{
    width: 750px;
    height: 600px;
    background-color : white;
    display : flex;
    flex-direction : column;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
}

.question {
    font-size: 250%;
}

.answer {
    font-size: 175%;
}

input[type=radio] {
    margin-bottom: 9%;
}

/* Buttons "next" et "results" */
button {
    cursor: pointer;
    width: 250px;
	height: 30px;
	background: #f0c33d;
	border-radius: 15px;
	border: none;
    color: white;
}

button:hover {
    background: white;
    border: 2px solid #f0c33d;
    color: #f0c33d;
    transition-duration: 0s;
    cursor : pointer; /*it changes the mouse in a hand to show the user than he can click*/
}


/* The section of the second question is hidden */
.set2 {
    display: none;
}

/* The section of the third question is hidden */
.set3 {
    display: none;
}

/* Bloc results */
h2 {
    color: white;
    text-align: center;
}

.informations {
    display: none;
    justify-content: space-around;
}

img[name=img-results] {
    background-color: white;
}

#description {
    position: relative;
    background-color: white;
    width: 600px;
    height: 600px;
    margin-top: 67px;
}

p {
    line-height: 200%;
}

.shy {
    display: none;
}

.elegant {
    display: none;
}

.crazy {
    display: none;
}

.creepyPasta {
    display: none;
}

#linkHomepage {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    margin-top: 500px;

    text-decoration: none;
    text-align: center;
    color: white;
    background-color: #f1c94f;
    width: 110px;
    height: 20px;
    border-radius: 15px;
}

/*responsive part*/
@media (max-width: 768px) {

    body {
        font-size: 50%;
    }
    
    .question-wrapper {
        flex-direction: column-reverse;
    }

    #questionPart {
        width: 450px;
        height: 350px;
        margin-top: 15px;
    }

    img[name=img-questions] {
        max-width: 30%;
        text-align: center;
        margin-top: 10px;
    }

    .question {
        margin-top: 20px;
    }

    .answer {
        margin-top: 25px;
    }

    button {
        margin-top: 10%;
    }

     #informations {
        flex-direction: column;
    }

    img[name=img-results] {
        max-width: 50%;
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        margin-top: 60px;
    }

    #description {
        font-size: 70%;
        width: 600px;
        height: 245px;
        position: absolute;
        z-index: 2;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        margin-top: 450px;
    }

    #linkHomepage {
        margin-top: 205px;
        height: 14px;
    }
    
}
