body {
    background-color: #e1cc8b;
}

/*page layout*/
#background {
    display: flex;
    position: relative;
}

#questionPart, BoilingImage {
    background-color : #f8f3e3;
    display : flex;
    flex-direction : row;
    flex-around: 5%;
}
