body {
    background-color: #f1c94f;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    color: white;
    text-align: center;
}

#informations {
    display: flex;
    justify-content: space-around;
}

img {
    background-color: white;
}

#description {
    background-color: white;
    width: 600px;
    height: 600px;
    margin-top: 67px;
}

p {
    line-height: 200%;
}

.shy {
    display: inline;
}

.chic {
    display: none;
}