body {
    background-color: #e1cc8b;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#informations {
    display: flex;
}

img {
    background-color: white
}

#description {
    background-color: white;
}

.chic {
    display: none;
}