body {
    background-color: #e1cc8b;
}

/*page layout*/
#background {
    display: flex;
    position: relative;
}

#questionPart, BoilingImage {
    background-color : #f8f3e3);
    display : flex;
    flex-direction : row;
}

#cookingPasta {
    transform: scale(0.9,0.9);
}