body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
	margin: 0
}

#pastaBackground {
    position: fixed;
    min-width: 100%;
    min-height: 100%
}

#screen {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 900px;
    height: 300px;
    background-color: white;
}

h1 {
    font-size: 50px;
    text-align: center;
}
#inputcity {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 250px;
    height: 20px;
    background-color: #e4a637;
    border-radius: 15px;
    margin-bottom: 110px;
    margin-left: 180px;

    text-align: center;
    text-decoration: none; 
    color: white;
}

#startcheck {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 250px;
    height: 20px;
    background-color: #e4a637;
    border-radius: 15px;
    margin-bottom: 113px;
    margin-right: 180px;

    text-align: center;
    text-decoration: none; 
    color: white;
}

#linkHomepage {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-top: 250px;
    width: 110px;
    height: 20px;
    color: white;
    background-color: #e4a637;
    text-decoration: none;
    text-align: center;
    border-radius: 15px;
}

@media (max-width: 768px) {

    #screen {
        width: 600px;
        height: 300px;
        background-color: white; 
    }

    #inputcity {
        margin: auto;
        margin-bottom: 130px;
    }
    
   #startcheck  {
        margin: auto;
        margin-bottom: 90px;
    }

}